.heading{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2rem;
    color: var(--primary-color);
}


.heading__small-underline{
    width: 9rem;
    height: .1rem;
    background-color: var(--primary-color);
    margin: 1rem auto 1rem auto;
}

.heading__big-underline{
    width: 20rem;
    height: .1rem;
    background-color: var(--primary-color);
    margin-inline: auto;
    margin-bottom: 5rem;
}

@media screen and (max-width: 800px){
    .heading{
        font-size: 3rem;
        max-width: 90%;
    }
}

@media screen and (max-width: 500px){
    .heading{
        font-size: 2.3rem;
    }

    .heading__small-underline{
        width: 7rem;
    }

    .heading__big-underline{
        width: 15rem;
    }
}
