@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans');

:root{
  --primary-hue: 45;
  --white-lightness: 96%;
  --light-lightness: 86%;
  --dark-lightness: 20%;
  --black-lightness: 12%;

  --primary-color: hsl(var(--primary-hue), 78%, 35%);
  --secondary-color: hsl(var(--primary-hue), 88%, 45%);
  --white-color: hsl(var(--primary-hue), 5%, var(--white-lightness));
  --light-color: hsl(var(--primary-hue), 5%, var(--light-lightness));
  --dark-color: hsl(var(--primary-hue), 5%, var(--dark-lightness));
  --black-color: hsl(var(--primary-hue), 5%, var(--black-lightness));
  --light-fixed-color: hsl(var(--primary-hue), 5%, var(--light-lightness));

  --container-width-lg: 80%;
  --container-width-md: 90%;

  --border-radius-1: 1.2rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 0.5rem;

  --transition-1: all 300ms ease;
  --transition-2: all 500ms ease;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  transition: var(--transition-2);
}

main{
  color: var(--dark-color);
}

.container{
  width: var(--container-width-lg);
  margin-inline: auto;
  max-width: 1920px;
}

section{
  padding: 10rem 0;
  transition: var(--transition);
}
