@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  --primary-hue: 45;
  --white-lightness: 92%;
  --light-lightness: 84%;
  --dark-lightness: 16%;
  --black-lightness: 8%;

  --primary-color: hsl(var(--primary-hue), 78%, 35%);
  --secondary-color: hsl(var(--primary-hue), 88%, 45%);
  --white-color: hsl(var(--primary-hue), 5%, var(--white-lightness));
  --light-color: hsl(var(--primary-hue), 5%, var(--light-lightness));
  --dark-color: hsl(var(--primary-hue), 5%, var(--dark-lightness));
  --black-color: hsl(var(--primary-hue), 5%, var(--black-lightness));
  --light-fixed-color: hsl(var(--primary-hue), 5%, var(--light-lightness));


  --container-width-lg: 85%;
  --container-width-md: 92%;

  --border-radius-1: 1.2rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 0.5rem;

  --transition-1: all 300ms ease;
  --transition-2: all 500ms ease;

  
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: var(--light-color);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  transition: var(--transition-2);
}

img{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

main{
  color: var(--light-color);
}

.container{
  width: var(--container-width-lg);
  margin-inline: auto;
  max-width: 1920px;
}

section{
  padding: 10rem 0;
  transition: var(--transition);
  min-height: 100vh;
  display: grid;
  place-items: center;
}


@media screen and (max-width: 1024px){
  .container{
    width: var(--container-width-md);
  }
}

@media screen and (max-width: 750px){
  section{
    padding: 8rem 0;
  }


}
