.rooms{
    background-color: var(--black-color);
    margin-left: 8rem;
}

.rooms__cards-wrapper{
   
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
    justify-items: center;
}

.room__card{
    max-width: 60rem;
    margin: 5rem;
    background-color: var(--dark-color);
    box-shadow: 0rem 2rem 2rem hsla(var(--primary-hue), 5%, var(--light-lightness), .3);
}

.room__image img{
    aspect-ratio: 3/2;
}

.room__card-content{
    color: var(--light-color);
    padding: 2rem;
} 

.room__card-heading{
    font-size: 3rem;
    font-weight: 300;
}

.room__card-text{
    font-size: 1.6rem;
    margin-block: 1rem;
}

.room__card-price{
    font-size: 4rem;
    font-weight: 300;
    text-align: right;
}

.room__card-btn{
    cursor: pointer;
    width: 20rem;
    padding: 1rem .5rem;
    background-color: transparent;
    color: var(--primary-color);
    font-size: 1.4rem;
    border: .1rem solid var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-radius: 10rem;
}

.room__card-btn:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    transform: translateX(-100%);
    transition: all 500ms;
    z-index: -1;
}

.room__card-btn:hover::before{
    transform: translateX(0);
}

.room__card-btn:hover{
    color: var(--dark-color);
}

.room__card-btn:active svg  {
    margin-left: 1rem;
}

.rooms__btn-wrapper{
    text-align: center;
}

.rooms__btn{
    margin-top: 4rem;
    background-color: transparent;
    display: inline-block;
    border: none;
    position: relative;
    width: 20rem;
    padding: 1.5rem 1rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
    overflow: hidden;
    transition: all 500ms;
 }

 .rooms__btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: .2rem;
    background-color: var(--primary-color);
    transition: all 500ms;
 }

 .rooms__btn:hover::before{
    left: 0;
 }

 .rooms__btn::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: .2rem;
    background-color: var(--primary-color);
    transition: all 500ms;
 }

 .rooms__btn:hover::after{
    right: 0;
 }
 
 .rooms__btn span::before{
    content: '';
    position: absolute;
    top: -100%;
    right: 0;
    width: .2rem;
    height: 100%;
    background-color: var(--primary-color);
    transition: all 500ms;
}

.rooms__btn:hover span::before{
    top: 0;
}

.rooms__btn span::before{
    content: '';
    position: absolute;
    top: -100%;
    right: 0;
    width: .2rem;
    height: 100%;
    background-color: var(--primary-color);
    transition: all 500ms;
}

.rooms__btn:hover span::before{
    top: 0;
}

.rooms__btn span::after{
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: .2rem;
    height: 100%;
    background-color: var(--primary-color);
    transition: all 500ms;
}

.rooms__btn:hover span::after{
    bottom: 0;
}

.rooms__btn:active{
    transform: translateY(.2rem);
}

@media screen and (max-width: 1300px){
    .room__card{
        max-width: 50rem;
    }
    .rooms__cards-wrapper{
        grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    }
}